/* HEADER */

.header {
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.game-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#boolean-logo {
  max-height: 60px;
}

#difficulty,
#difficulty > option {
  cursor: pointer;
}

/* MAIN */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: aquamarine;
}

.grid-container {
  width: 600px;
  aspect-ratio: 1;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  border: 1px solid black;
  width: calc(100% / 10);
  aspect-ratio: 1;
}

.box.easy {
  width: calc(100% / 10);
  aspect-ratio: 1;
}

.box.medium {
  width: calc(100% / 9);
  aspect-ratio: 1;
}

.box.hard {
  width: calc(100% / 7);
  aspect-ratio: 1;
}

/* FOOTER */
.footer-container {
  min-height: 50px;
  padding: 20px;
}
